<?xml version="1.0" encoding="utf-8"?>
<config>
  <hardware>
    <system type="[System]" serial="" inputs="1" outputs="0" gauge="false" lcd="false" numerical="false" analog="0" encoders="0" />
    <sdk type="[SDK]" serial="" inputs="0" outputs="0" gauge="false" lcd="false" numerical="false" analog="1" encoders="0" />
    <FDS type="FDS 737-MX MCP" serial="03EA00001D7F" inputs="128" outputs="49" gauge="false" lcd="false" numerical="false" analog="0" encoders="0" />
    <iocp type="IOCP" serial="0" inputs="9999" outputs="9999" gauge="true" lcd="false" numerical="true" analog="9999" encoders="9999" />
    <FDS type="FDS 737-MX MCP" serial="03EA" inputs="128" outputs="49" gauge="false" lcd="false" numerical="false" analog="0" encoders="0" />
  </hardware>
  <mappings>
    <mapping connection="Gear left">
      <iocp serial="0" port="1340" />
    </mapping>
    <mapping connection="Gear left transit">
      <iocp serial="0" port="1337" />
    </mapping>
    <mapping connection="Gear nose">
      <iocp serial="0" port="1339" />
    </mapping>
    <mapping connection="Gear nose transit">
      <iocp serial="0" port="1336" />
    </mapping>
    <mapping connection="Gear right">
      <iocp serial="0" port="1341" />
    </mapping>
    <mapping connection="Gear right transit">
      <iocp serial="0" port="1338" />
    </mapping>
    <mapping connection="Gear Down">
      <iocp serial="0" port="414" />
    </mapping>
    <mapping connection="Gear Up">
      <iocp serial="0" port="413" />
    </mapping>
    <mapping connection="MFD ENG Normal">
      <iocp serial="0" port="2560" />
    </mapping>
    <mapping connection="MFD SYS Normal">
      <iocp serial="0" port="2561" />
    </mapping>
    <mapping connection="Main Panel DUs Capt Norm">
      <iocp serial="0" port="377" />
    </mapping>
    <mapping connection="Main Panel DUs Capt Outbd PFD">
      <iocp serial="0" port="0" />
    </mapping>
    <mapping connection="Main Panel DUs Capt Eng Pri">
      <iocp serial="0" port="378" />
    </mapping>
    <mapping connection="Main Panel DUs Capt PFD">
      <iocp serial="0" port="379" />
    </mapping>
    <mapping connection="Main Panel DUs Capt MFD">
      <iocp serial="0" port="380" />
    </mapping>
    <mapping connection="ASA A/P reset Capt Pushed">
      <iocp serial="0" port="2366" />
    </mapping>
    <mapping connection="ASA A/T reset Capt Pushed">
      <iocp serial="0" port="2367" />
    </mapping>
    <mapping connection="ASA FMC reset Capt Pushed">
      <iocp serial="0" port="2370" />
    </mapping>
    <mapping connection="ASA Test Capt 1">
      <iocp serial="0" port="384" />
    </mapping>
    <mapping connection="ASA Test Capt 2">
      <iocp serial="0" port="385" />
    </mapping>
    <mapping connection="Master caution 1 Pushed">
      <iocp serial="0" port="2520" />
    </mapping>
    <mapping connection="Fire warning 1 Pushed">
      <iocp serial="0" port="2444" />
    </mapping>
    <mapping connection="Recall 1 Pushed">
      <iocp serial="0" port="2732" />
    </mapping>
    <mapping connection="Fire warning 1">
      <iocp serial="0" port="1228" />
    </mapping>
    <mapping connection="Fire warning 2">
      <iocp serial="0" port="1229" />
    </mapping>
    <mapping connection="Master caution 1">
      <iocp serial="0" port="1230" />
    </mapping>
    <mapping connection="Master caution 2">
      <iocp serial="0" port="1231" />
    </mapping>
    <mapping connection="Warn AIR_COND">
      <iocp serial="0" port="1243" />
    </mapping>
    <mapping connection="Warn ANTI_ICE">
      <iocp serial="0" port="1238" />
    </mapping>
    <mapping connection="Warn APU">
      <iocp serial="0" port="1236" />
    </mapping>
    <mapping connection="Warn DOORS">
      <iocp serial="0" port="1240" />
    </mapping>
    <mapping connection="Warn ELEC">
      <iocp serial="0" port="1235" />
    </mapping>
    <mapping connection="Warn ENG">
      <iocp serial="0" port="1241" />
    </mapping>
    <mapping connection="Warn FLT_CONT">
      <iocp serial="0" port="1232" />
    </mapping>
    <mapping connection="Warn FUEL">
      <iocp serial="0" port="1234" />
    </mapping>
    <mapping connection="Warn HYD">
      <iocp serial="0" port="1239" />
    </mapping>
    <mapping connection="Warn IRS">
      <iocp serial="0" port="1233" />
    </mapping>
    <mapping connection="Warn OVERHEAD">
      <iocp serial="0" port="1242" />
    </mapping>
    <mapping connection="Warn OVHT_DET">
      <iocp serial="0" port="1237" />
    </mapping>
    <mapping connection="ASA A/P Amber Capt">
      <iocp serial="0" port="1526" />
    </mapping>
    <mapping connection="ASA A/P Red Capt">
      <iocp serial="0" port="1304" />
    </mapping>
    <mapping connection="ASA A/T Amber Capt">
      <iocp serial="0" port="1528" />
    </mapping>
    <mapping connection="ASA A/T Red Capt">
      <iocp serial="0" port="1306" />
    </mapping>
    <mapping connection="ASA FMC Capt">
      <iocp serial="0" port="1308" />
    </mapping>
    <mapping connection="Light Test Test">
      <iocp serial="0" port="2373" />
    </mapping>
    <mapping connection="Flap">
      <iocp serial="0" port="417">
        <calibrator>
          <calibration input="0" output="232" margin="0" rawInput="0" />
          <calibration input="1" output="291" margin="0" rawInput="0" />
          <calibration input="2" output="354" margin="0" rawInput="0" />
          <calibration input="3" output="408" margin="0" rawInput="0" />
          <calibration input="4" output="468" margin="0" rawInput="0" />
          <calibration input="5" output="543" margin="0" rawInput="0" />
          <calibration input="6" output="603" margin="0" rawInput="0" />
          <calibration input="7" output="657" margin="0" rawInput="0" />
          <calibration input="8" output="720" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Brake pressure">
      <iocp serial="0" port="437">
        <calibrator>
          <calibration input="0" output="349" margin="0" rawInput="0" />
          <calibration input="1000" output="438" margin="0" rawInput="0" />
          <calibration input="2000" output="553" margin="0" rawInput="0" />
          <calibration input="3000" output="625" margin="0" rawInput="0" />
          <calibration input="4000" output="693" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Cabin altitude">
      <iocp serial="0" port="142">
        <calibrator>
          <calibration input="0" output="235" margin="0" rawInput="0" />
          <calibration input="10" output="403" margin="0" rawInput="0" />
          <calibration input="20" output="555" margin="0" rawInput="0" />
          <calibration input="25" output="619" margin="0" rawInput="0" />
          <calibration input="30" output="649" margin="0" rawInput="0" />
          <calibration input="50" output="888" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Outflow valve position">
      <iocp serial="0" port="148">
        <calibrator>
          <calibration input="0" output="583" margin="0" rawInput="0" />
          <calibration input="50" output="705" margin="0" rawInput="0" />
          <calibration input="100" output="861" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Pressure Left">
      <iocp serial="0" port="146">
        <calibrator>
          <calibration input="0" output="348" margin="0" rawInput="0" />
          <calibration input="40" output="550" margin="0" rawInput="0" />
          <calibration input="80" output="777" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Pressure Right">
      <iocp serial="0" port="147">
        <calibrator>
          <calibration input="0" output="192" margin="0" rawInput="0" />
          <calibration input="40" output="366" margin="0" rawInput="0" />
          <calibration input="80" output="523" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Pressure differential">
      <iocp serial="0" port="143">
        <calibrator>
          <calibration input="0" output="177" margin="0" rawInput="0" />
          <calibration input="1" output="228" margin="0" rawInput="0" />
          <calibration input="2" output="303" margin="0" rawInput="0" />
          <calibration input="3" output="348" margin="0" rawInput="0" />
          <calibration input="8" output="706" margin="0" rawInput="0" />
          <calibration input="10" output="856" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="APU">
      <iocp serial="0" port="141">
        <calibrator>
          <calibration input="0" output="334" margin="0" rawInput="0" />
          <calibration input="1000" output="512" margin="0" rawInput="0" />
          <calibration input="1100" output="512" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Crossfeed Off">
      <iocp serial="0" port="60" />
    </mapping>
    <mapping connection="Fuel Center Left On">
      <iocp serial="0" port="2650" />
    </mapping>
    <mapping connection="Fuel Center Right On">
      <iocp serial="0" port="2651" />
    </mapping>
    <mapping connection="Fuel Left Aft On">
      <iocp serial="0" port="2646" />
    </mapping>
    <mapping connection="Fuel Left Fwd On">
      <iocp serial="0" port="2647" />
    </mapping>
    <mapping connection="Fuel Right Aft On">
      <iocp serial="0" port="2648" />
    </mapping>
    <mapping connection="Fuel Right Fwd On">
      <iocp serial="0" port="2649" />
    </mapping>
    <mapping connection="Crossfeed indicator">
      <iocp serial="0" port="1073" />
    </mapping>
    <mapping connection="ENG Valve Closed L">
      <iocp serial="0" port="1067" />
    </mapping>
    <mapping connection="ENG Valve Closed R">
      <iocp serial="0" port="1068" />
    </mapping>
    <mapping connection="Filter Bypass L">
      <iocp serial="0" port="1071" />
    </mapping>
    <mapping connection="Filter Bypass R">
      <iocp serial="0" port="1072" />
    </mapping>
    <mapping connection="Fuel Center Left LP">
      <iocp serial="0" port="1078" />
    </mapping>
    <mapping connection="Fuel Center Right LP">
      <iocp serial="0" port="1079" />
    </mapping>
    <mapping connection="Fuel Left Aft LP">
      <iocp serial="0" port="1076" />
    </mapping>
    <mapping connection="Fuel Left Fwd LP">
      <iocp serial="0" port="1074" />
    </mapping>
    <mapping connection="Fuel Right Aft LP">
      <iocp serial="0" port="1077" />
    </mapping>
    <mapping connection="Fuel Right Fwd LP">
      <iocp serial="0" port="1075" />
    </mapping>
    <mapping connection="SPAR Valve Closed L">
      <iocp serial="0" port="1069" />
    </mapping>
    <mapping connection="SPAR Valve Closed R">
      <iocp serial="0" port="1070" />
    </mapping>
    <mapping connection="Cruise alt">
      <iocp serial="0" port="1196" />
    </mapping>
    <mapping connection="Land alt">
      <iocp serial="0" port="1200" />
    </mapping>
    <mapping connection="Flight alt in encoder">
      <iocp serial="0" port="103" />
    </mapping>
    <mapping connection="Land alt in encoder">
      <iocp serial="0" port="104" />
    </mapping>
    <mapping connection="APU switch Off">
      <iocp serial="0" port="124" />
    </mapping>
    <mapping connection="APU switch Start">
      <iocp serial="0" port="125" />
    </mapping>
    <mapping connection="Fuel Temperature">
      <iocp serial="0" port="140">
        <calibrator>
          <calibration input="-56" output="205" margin="0" rawInput="0" />
          <calibration input="-40" output="295" margin="0" rawInput="0" />
          <calibration input="0" output="501" margin="0" rawInput="0" />
          <calibration input="40" output="742" margin="0" rawInput="0" />
          <calibration input="56" output="876" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
    <mapping connection="Left Engine Fuel" />
    <mapping connection="Right Engine Fuel" />
    <mapping connection="Cabin temperature">
      <iocp serial="0" port="145">
        <calibrator>
          <calibration input="-15" output="45" margin="0" rawInput="0" />
          <calibration input="0" output="115" margin="0" rawInput="0" />
          <calibration input="20" output="208" margin="0" rawInput="0" />
          <calibration input="40" output="331" margin="0" rawInput="0" />
          <calibration input="60" output="414" margin="0" rawInput="0" />
          <calibration input="80" output="565" margin="0" rawInput="0" />
          <calibration input="100" output="676" margin="0" rawInput="0" />
        </calibrator>
      </iocp>
    </mapping>
  </mappings>
  <leds>
    <intensity color="YELLOW" high="40" low="80" />
    <intensity color="BLUE" high="40" low="80" />
    <intensity color="GREEN" high="40" low="80" />
    <intensity color="RED" high="40" low="80" />
    <intensity color="WARNING_RED" high="40" low="80" />
    <intensity color="WARNING_YELLOW" high="40" low="80" />
    <intensity color="WHITE" high="40" low="80" />
  </leds>
  <showQuickstart value="true" />
  <startMinimized value="false" />
  <enableEmbeddedMCP value="false" />
  <allowNegativeFreq value="true" />
  <debugMode value="false" />
  <autoRestart value="true" />
  <situation value="Ready" />
  <autoFailure amount="0" />
  <webserver port="8080" />
  <acars host="acars.prosim-ar.com" profile="Silent" tailNumber="" printMarginLeft="0" printMarginTop="0" />
  <logLevel level="Normal" />
  <updates level="1" monitorBetaVersions="False" />
  <gaugeSmoothing value="50" />
  <viewpoints>
    <captain x="0" y="0" z="0" pitch="0" bank="0" heading="0" />
    <center x="0" y="0" z="0" pitch="0" bank="0" heading="0" />
    <firstOfficer x="0" y="0" z="0" pitch="0" bank="0" heading="0" />
  </viewpoints>
  <speedbrakeServoFree value="false" />
  <simulator value="MSFS" />
  <audioAddons />
  <companyRouteSources />
  <requiredHardware />
  <Phidget22Support value="false" voltage="Default" motorSpeed="50" motorSpeed2="50" motorReverse1="false" motorReverse2="false" />
  <genericCOMportSupport value="false" baud="115200" stopBits="One" parity="None" dataBits="8" tcpPort="8091" tcpGlobal="true" tcpMixed="false" />
  <directInputEnabled value="false" />
  <ehid>
    <brightness>100</brightness>
  </ehid>
  <fds value="true" mcpSupport="true">
    <encoders reverse1="false" reverse2="false" reverse3="false" reverse4="false" reverse5="false" reverse6="false" reverse7="false" reverse8="false" reverse9="false" reverse10="false" reverse11="false" />
    <device id="04-91-62-09-05-F5-02">
      <captain>true</captain>
    </device>
    <device id="04-91-62-09-05-F5-03">
      <radio>NAV1</radio>
    </device>
    <device id="04-91-62-09-05-F5-04">
      <radio>ADF1</radio>
    </device>
  </fds>
  <fscStickShaker />
  <fsuipcSupport value="false" />
  <IOC_CONNECT />
  <poldragonetv2 />
  <flightIllusionPort port="[Not installed]" altSpeedCombined="false" />
  <fsbusPort />
  <goflightSupport value="false" />
  <ICS delay="2" inverseCrossfeed="false" />
  <matrixOrbitalSupport value="false" />
  <phidgetSupport value="false" voltage="Default" currentLimit="Default" motorSpeed="50" motorSpeed2="50" motorReverse1="false" motorReverse2="false" />
  <pimOverhead port="[Not installed]" />
  <pimAlt />
  <pimIRS />
  <poldragonet port="[Not installed]" inverseGear="false" inverseMFD="false" />
  <poldragonetOverhead port="[Not installed]" manualConfigure="false" />
  <simio value="false" />
  <simsystems />
  <simworld value="false" />
  <sismoSupport value="false" brightness="15">
    <MCP hasEfisCpt="true" hasEfisFo="true" invertMinsMode="false" />
    <Modules enabledModules="" />
    <encoders>
      <encoder id="CRS1" gain="10" clicks="3" isShifted="false" />
      <encoder id="SPD" gain="10" clicks="3" isShifted="false" />
      <encoder id="HDG" gain="10" clicks="3" isShifted="false" />
      <encoder id="ALT" gain="10" clicks="3" isShifted="false" />
      <encoder id="VS" gain="10" clicks="3" isShifted="false" />
      <encoder id="CRS2" gain="10" clicks="3" isShifted="false" />
      <encoder id="BARO1" gain="10" clicks="3" isShifted="false" />
      <encoder id="MINS1" gain="10" clicks="3" isShifted="false" />
      <encoder id="BARO2" gain="10" clicks="3" isShifted="false" />
      <encoder id="MINS2" gain="10" clicks="3" isShifted="false" />
    </encoders>
  </sismoSupport>
  <VRInsightOvhdSupport />
  <fscTq>
    <revertBacklight>false</revertBacklight>
    <revertTrimWheel>false</revertTrimWheel>
  </fscTq>
  <CPFlightV2 value="false">
    <ISFD enabled="false" ipAddress="127.0.0.1" port="5000" />
    <CaptainCDU enabled="false" ipAddress="127.0.0.1" port="6000" />
    <FirstOfficerCDU enabled="false" ipAddress="127.0.0.1" port="6000" />
  </CPFlightV2>
  <CPFlight value="false">
    <sendGaugeData>true</sendGaugeData>
    <reverseRudderTrimGauge>true</reverseRudderTrimGauge>
    <useTiller>false</useTiller>
  </CPFlight>
  <CPFlightDirect />
  <IOCP server="192.168.86.141" port="8092" use5DigitsComNav="false" />
  <pokeysSupport value="false" autoConfig="true" offload="false" fastInterface="true" udp="true" pollerEnabled="true" pokeysLog="false">
    <inhibit></inhibit>
  </pokeysSupport>
  <pololu value="false" />
  <activesky>
    <host>localhost</host>
    <port>0</port>
    <isactive>false</isactive>
  </activesky>
</config>